/* You can add global styles to this file, and also import other style files */
@use './app/styles/typography';

:root {
    display: flex;
    flex-direction: column;
    --success-color: green;
    --danger-color: red;
    --warning-color: orange;
    --panel-opacity: 0.6;
}

:root {
    &.light-theme{
        --text: black;
        --background-color: white;
        --primary-color: rgb(110, 156, 224);
        --secondary-color:  rgb(245, 243, 121);
    }

     &.dark-theme{
        --text: white;
        --background-color: black;
        --primary-color:  rgb(33, 49, 104);
        --secondary-color: rgb(92, 93, 94); 
    }   
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

